.me {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    background-color: rgb(220, 195, 244);
    margin-top: 50px;
    padding-top: 20px;
    border: 10px solid white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.ab {
    margin: 10px;
}

.like {
    color: rgb(41, 3, 41);
    text-decoration: none
}